.navigation ul {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	list-style: none;
}

.navigation li {
	padding: 0 1rem;
}

.navigation button {
	margin-bottom: 1rem;
	padding: 1.4rem 1rem;
	display: inline-block;
	vertical-align: middle;
	border: 0.1rem solid #000;
	border-radius: 0.5rem;
	background: #000;
	font-size: 1.7rem;
	color: #fff;
	transition: color 0.3s, background 0.3s;
	cursor: pointer;

	&:hover {
		background: #fff;
		color: #000;
	}
}
